#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DBUILD_TESTS=OFF \
		-DUSE_SYSTEM_LIBTORRENT=ON

override_dh_auto_install:
	dh_auto_install
	# Install systemd user service
	install -D -m 644 scripts/levin.service debian/levin/usr/lib/systemd/user/levin.service

override_dh_installsystemd:
	# Skip dh_installsystemd - service is manually installed above
	:
